
body{
         margin:70px !important;
}


.meet-team{
    background-image: url('./images/banner1.png');

    background-repeat: no-repeat;

    width:100%;
    height: 500px;

    margin-top: 100px;
 
 

      position: relative;
}